* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: white;
    padding: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px; 
    padding-right: 24px;
    height: 64px;
}

span {
    display: inline-block;
}

.black {
    color: black;
    font-size: 32px;
    font-weight: 100;
}

.grey {
    color: grey;
    font-size: 32px;
    font-weight: 100;
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}   
    
nav li {
    margin-right: 16px;
}

.hero {
    display: flex;
    align-items: center;
    padding: 32px 24px;
    background-color: #f0f0f0; 
    max-width: 100%;  
}

.image-container {
    width: 60%;
    margin-right: 24px;
}

.image-container img {
    width: 100%; 
    height: auto;
}

.hero h2 {
    color: black;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
}

.hero p {
    color: black;
    font-size: 35px;
    font-weight: 50;
    padding-bottom: 20px;
}

.hero button {
    background-color: #4A4A4A;
    color: white;
    width: 400px;
    height: 40px;
    font-size: 18px;
    padding: 8px;
    border: none;
}

.infomation {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 24px;
    flex-grow: 1;
}

.main-blog-left {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.main-blog-left img {
    max-width: 100%;
    height: auto;
}

.side-blogs {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.blog-content-1,
.blog-content-2,
.blog-content-3 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 16px;
}

.blog-content-1 img,
.blog-content-2 img,
.blog-content-3 img {
    max-width: 100%;
    height: auto;
}


.blog-content-1  div,
.blog-content-2  div,
.blog-content-3  div {
    flex-grow: 1;
}
.blog-content-1 h2,
.blog-content-2 h2,
.blog-content-3 h2 {
    margin: 0;
}

.blog-content-1 p,
.blog-content-2 p,
.blog-content-3 p{
    margin: 8px 0;
}